:root {
  --white-color: #fff;
  --green-color: #35a22c;
}

.header-icon {
  color: var(--green-color);

  font-size: 45px;
}

.carousel-caption img {
  width: 130px;
  object-fit: cover;
  border-radius: 50%;
}

.carousel-inner {
  height: 100vh;
}

.carousel-item {
  height: 100%;
}

/* .bg-item00 {
  height: 100%;
  object-fit: cover;
} */
